<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drivus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DrivUs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Pantalla_Principal"
            android:label="@string/title_activity_pantalla__principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro_Email_Final" />
        <activity android:name=".Registro_Genero" />
        <activity android:name=".Registro_FechaNacimiento" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>