* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.form-control{
    width: 350px;
}

.mb-3{
    display: inline-block;
    margin-left: 15px;
}


/**************************** MENU **************************/
#sidebar {
    position: fixed;
    width: 17%;
    height: 100%;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    left: -17%;
    transition: all 500ms linear;
    z-index: 100;
}

#sidebar.active {
    left: 0;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 100%;
    top: 1%;
    cursor: pointer;
}

#sidebar .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
}

#sidebar a, .dropdown-btn, button{
    background: none;
    outline: none;
    border: none;
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 15px 10px;
    border-bottom: 2px solid rgba(32, 31, 31, 0.5);
}

#sidebar>.dropdown-btn, #sidebar>button{
    width: 220px;
}

#sidebar a:hover, .dropdown-btn:hover{
    color: black;
}

.dropdown-container {
    display: none;
}

/*************************** Cabecera **************************************************/
.barraLateral{
    background-color: #333333;
    color: white;
    height: 8%;
}

.barraLateral .elementos{
    width:max-content;
    margin-left:75%;
}

.barraLateral .elementos a{
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    background: none;
    text-align: center;
    font-size: 20px;
    color: white;
}
    

/**************************** Formulario ***********************************************/
.container{
    background-color: rgb(224, 215, 215);
    margin-left: 3%;
    margin-right: 4%;
    height: 100%;
    width: 100%;
    position: absolute;
}

#formulario{
    position: relative;
    margin-left: 3%;
    margin-right: 7%;
    background-color: white;
    margin-top: 1%;
    height: 85%;
}

.container #formulario #cabecera{
    background-color: #2a0845;
    color: white;
    padding: 1%;
    text-align: center;
}


